<!-- wp:group {"lock":{"move":true,"remove":false},"layout":{"type":"default"}} -->
<div id="Index1-frame-backimg" class="wp-block-group"><!-- wp:template-part {"slug":"header-navbar","area":"header","theme":"fullsite-patterner"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"className":"fsp-main"} -->
<main id="main-fsp"
 class="wp-block-group fsp-main"><!-- wp:spacer {"height":"120px"} -->
<div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"lock":{"move":true,"remove":true},"className":"fsp-frame","layout":{"type":"default"}} -->
<div id="frame-fsp"
 class="wp-block-group fsp-frame"><!-- wp:template-part {"slug":"index-article-1-column","area":"uncategorized","lock":{"move":true,"remove":true},"theme":"fullsite-patterner"} /-->

<!-- wp:template-part {"slug":"footer-2-column-copyright","area":"footer","theme":"fullsite-patterner"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->